<nz-layout>
  <nz-header>
    <div class="logo">
      <img src="assets/logo.jpg" width="100" [routerLink]="'home'" style="cursor: pointer;">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <nz-badge [nzCount]="personas.length" *ngIf="hasAnyRole(['admin'])">
        <i nz-icon class="icon" nzType="bell" nzTheme="outline" (click)="navigateToGestion()"></i>
      </nz-badge>
      <li style="margin-left: 50px;" (click)="logout()" nz-menu-item>logout</li>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
  </nz-content>
  <nz-layout class="inner-layout">
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item [routerLink]="'home'">
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li nz-submenu nzTitle="Sistema" nzIcon="setting" *ngIf="hasAnyRole(['admin','asesor'])">
          <ul>
            <li nz-menu-item [routerLink]="'ciudad/list'" *ngIf="hasAnyRole(['admin'])">Ciudades</li>
            <li nz-menu-item [routerLink]="'cliente/list'">Clientes</li>
            <li nz-menu-item [routerLink]="'asesor/list'" *ngIf="hasAnyRole(['admin'])">Asesores</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>